<div class="page-header">
  <h3>Setup #<%= @setup.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Body</dt>
      <dd><%= @setup.body %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/setups" class="btn btn-primary">
        Back
      </a>
      <a href="/setups/<%= @setup.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_setup/<%= @setup.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
